@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');

html {
  box-sizing: border-box;
  font-family: 'Comic Neue', cursive;
}

* {
  margin: 0;
  padding: 0;
}

.menu {
  display: flex;
  justify-content: center;
  border: 5px solid #000;
  border-radius: 5px;
  padding: 10px;
}

.menu > div {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
}

.menu a {
  padding-left: 10px;
  margin-right: 1em;
  cursor: pointer;
  text-decoration: underline;
  color: #000;
}

#menu-item-1 {
  margin-right: 5em;
}

#menu-item-2 {
  margin-right: 4em;
}

#menu-item-3 {
  margin-left: 5em;
}

footer {
  font-family: 'Comic Neue', cursive;
  display: flex;
  border: 5px solid #000;
  border-radius: 5px;
  padding: 10px;
}

.showImgPlaceholder {
  background-position: center;
  background-size: contain;
  height: 500px;
  box-sizing: border-box;
}

#showContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

.tvShow {
  width: 20rem;
}

.d-flex {
  display: flex;
}

.v {
  flex-direction: column;
}

.h {
  flex-direction: row;
}

.showContent {
  gap: 1rem;
  padding: 2rem 1rem 1rem;
  align-items: center;
}

.showName {
  justify-content: space-between;
  width: 100%;
}

i {
  font-size: 1.5rem;
}

.likes {
  gap: 1rem;
  align-items: center;
}

.likeBtn {
  border: none;
  background-color: transparent;
}

button {
  width: max-content;
  font-size: 1.5rem;
  padding: 0.5rem;
}

.showTitle {
  font-size: 2rem;
  white-space: nowrap;
  overflow: hidden;
}

.likesCounter {
  white-space: nowrap;
}
